@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap");

.container {
  width: 1000px;
  margin: 0 auto;
  height: 100vh;
}

.titulos {
  text-align: center;
  color: #272727;
  font-size: 6rem;
}

.nuevo-servicio {
  display: flex;
  justify-content: center;
}
.form-nuevo {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.form-nuevo input {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /*background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);*/
  font-size: 5rem;
  background-repeat: no-repeat;
  font-family: "Caveat", cursive;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h3 {
  margin-bottom: 1rem;
}

.contenedor {
  width: 95%;
  max-width: 95%;
}
.btn {
  font-size: 4rem;
  width: 100%;
}

.w-600{
  width: 600px;
}
.fecha-alta {
  color: #aa076b;
  font-weight: bold;
  font-size: 2rem;
}
.contacto p {
  font-size: 1.2rem;
  margin: 0;
}

.list-group-item {
  background-color: #272727;
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-size: 5rem !important;
}

.list-group-item h3{
  font-size: 5rem;
}

form {
  border-radius: 0.3rem;
}

.col-md-8 {
  padding: 0 !important;
}

.btn-nuevo {
  padding: 10px 20px !important;
  background-color: #272727;
  color: white;
  border-radius: 5px;
}

.btn-nuevo:hover {
  color: white;
}
